aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
amqp==5.3.1
annotated-types==0.7.0
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
boto3==1.43.6
botocore==1.43.6
brazilcep==7.0.1
brotli==1.2.0
cachetools==5.5.2
celery==5.6.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorlog==6.10.1
contextlib2==21.6.0
coverage==7.14.1
cryptography==48.0.0
cssselect2==0.9.0
Django==6.0.5
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-encrypted-model-fields==0.6.5
django-environ==0.13.0
django-extensions==4.1
django-ninja==1.6.2
django-ninja-extra==0.31.4
django-ninja-jwt==5.4.4
django-ninja-simple-jwt==0.8.1
django-phonenumber-field==8.4.0
django-ratelimit==4.1.0
django-storages==1.14.6
dnspython==2.8.0
email-validator==2.3.0
fonttools==4.62.1
frozenlist==1.8.0
google-auth==2.35.0
gunicorn==26.0.0
h11==0.16.0
idna==3.15
iniconfig==2.3.0
injector==0.24.0
jmespath==1.1.0
kombu==5.6.2
multidict==6.7.1
packaging==26.2
phonenumbers==9.0.30
pillow==12.2.0
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.5.2
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pydyf==0.12.1
Pygments==2.20.0
PyJWT==2.12.1
pyphen==0.17.2
pytest==9.1.0
pytest-cov==7.1.0
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==7.4.0
requests==2.34.1
rsa==4.9.1
s3transfer==0.17.0
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
uvicorn==0.46.0
validate-docbr==2.0.0
vine==5.1.0
wcwidth==0.7.0
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.12.0
yarl==1.23.0
zopfli==0.4.1
validate-docbr==2.0.0
brazilcep==7.0.0